.search_button{
    width: 100px;
    height: 100px;
}
.navbar-content{
    margin-left: -90px;
    color: orange;
  
}
.navbar{
  width: 100% !important;
 background-color: black !important;

}

.form_button{
  width: 95%;
  background-color: black;
  color: orange;
}
@media only screen and (max-width: 720px) {
    .navbar-content {
      margin-left: 0px;
    }
  }
  .user_form{
    box-sizing: border-box;
    margin: auto;
   padding: 80px;
   
   
    width: max-content;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .form_input{
    position: relative !important;
    width: 180%
  }
  .form_input2{
    position: relative !important;
    width: 120%
  }
  .form_input3{
    position: relative !important;
    width: 102%
  }

  @media only screen and (max-width: 720px) {
    .form_input{
      position: relative !important;
      width: 100%
    }
    .form_input2{
      position: relative !important;
      width: 100%
    }
    .form_input3{
      position: relative !important;
      width: 102%
    }
    .user_form{
      width: 90%;
      padding: 50px;
    }
  
  }